/* Your CSS Code here. */
.holder{
	background-color:black;
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	gap:1rem;
}
.box{
	background-color:aquamarine;
	width:200px;
	height:200px;
	border-radius:20px
}
